In [2]:
import seaborn as sns
import numpy as np
import pandas as pd
import plotly.express as px
import matplotlib.pyplot as plt

In [6]:
data = pd.read_csv("credit_risk_dataset.csv")
data.shape

(32581, 12)

:

In [ ]:
data2 = data.drop(data["person_age"][data["person_age"]>100].index)
data2["person_age"].describe()
data["person_age"][data["person_age"]>100] = 27.7
data['person_age'].describe()
data.loc[data["person_age"] > 100]

In [ ]:
data['person_age'].describe()

In [ ]:
lala = data.loc[data["person_age"] > 100]
lala.replace([144,123], np.nan, inplace = True)
data.loc[data["person_age"] > 100] = lala
data["person_age"].fillna(27.7, inplace=True)

In [ ]:
data.loc[data["person_age"] > 100]

In [ ]:
print(np.unique(data['loan_status'], return_counts=True)
)

sns.countplot(x = data['loan_status']);

In [ ]:
plt.hist(x = data['loan_amnt']);
np.unique(data['loan_intent'], return_counts=True)

In [ ]:
data.columns

In [ ]:
lala=data.isnull().sum()
lala

In [ ]:

data["loan_int_rate"].fillna(data["loan_int_rate"].mean(), inplace=True)
data["person_emp_length"].fillna(data["person_emp_length"].mean(), inplace=True)

In [ ]:
grafico = px.scatter_matrix(data, dimensions = ['person_age', "loan_amnt"], color="loan_status")
grafico

In [ ]:
plt.hist(x = data['person_age']);

DIVISÃO ENTRE PREVISORES E  CLASSE

ESCALONAMENTO

In [ ]:
y_credito = data["loan_status"].values
x_credito = data[["person_age", "person_income", "loan_amnt"]].values

x_credito[:, 0].max(), x_credito[:, 1].max(), x_credito[:, 2].max()


from sklearn.preprocessing import StandardScaler
scaler_credito = StandardScaler()
x_credito = scaler_credito.fit_transform(x_credito)

x_credito[:, 0].min(), x_credito[:, 1].min(), x_credito[:, 2].min(), x_credito[:, 0].max(), x_credito[:, 1].max(), x_credito[:, 2].max()

In [3]:
censo = pd.read_csv("census.csv")
censo

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [ ]:
sns.countplot(censo["education"])
px.histogram(censo["hour-per-week"])

In [ ]:
grafico = px.treemap(censo, path=["occupation", "sex"])
grafico

In [ ]:
grafico = px.parallel_categories(censo, dimensions = [ "education", "income"])
grafico

In [ ]:
X_census = censo.drop("income", axis = 1)
Y_census = censo["income"]
X_census.dtypes

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

cod = LabelEncoder()
object_column_index = [X_census.columns.get_loc(coluna) for coluna in X_census.columns if X_census[coluna].dtype == "object"]
for coluna in X_census.iloc[:, object_column_index]:
    X_census[coluna] = cod.fit_transform(X_census[coluna])      
X_census =  X_census.values
onehotencoder_census = ColumnTransformer(transformers=[('OneHot', OneHotEncoder(), object_column_index)], remainder= 'passthrough')
X_census = onehotencoder_census.fit_transform(X_census).toarray()
X_census

In [ ]:
from sklearn.preprocessing import StandardScaler
census_scaler = StandardScaler()

X_census = census_scaler.fit_transform(X_census)

X_census[0]

In [ ]:
from sklearn.model_selection import train_test_split
x_credit_train, x_credit_test, y_credit_train, y_credit_test = train_test_split(x_credito, y_credito, test_size = 0.25, random_state=0)

x_census_train, x_census_test, y_census_train, y_census_test = train_test_split(X_census, Y_census,  test_size = 0.15, random_state=0)

x_census_test.shape

In [ ]:
import pickle as pkl
with open('census.pkl', mode = 'wb') as f:
    pkl.dump([x_census_train, x_census_test, y_census_train, y_census_test], f)
with open('credit_risk_dataset.csv.pkl', mode = 'wb') as f:
    pkl.dump([x_credit_train, x_credit_test, y_credit_train, y_credit_test], f)